body
{
    font-family: Arial;
    /*background-color: aliceblue;*/
}

header {
    height: 100px;
    width: 100%;
    padding: 0 30px;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: red;
}

header h1 {
    margin: 30px 0;
}

article
{
    max-width: 920px;
    min-width: 720px;
    
    margin: 100px auto;
    padding: 10px 40px;

    background-color: white;
    /*box-shadow: 5px 5px 10px grey;*/
}

#InputNotesPanel
{
    width: auto;
}

#summary:focus
{
    
}

#time
{
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 0px;
}

textarea
{
    min-width: 500px;
    min-height: 100px;
}

#submit
{
    vertical-align: top;
}

.postTitle
{
    display: inline;
}

.postContent
{
    padding: 0px 0px 0px 20px;
}

.post
{
    color: rgba(0, 0, 0, .65);
    transition: all .25s;
    padding: 20px;
}

.post:hover
{
    color: black;
}

.private
{
    font-family: Aurek-Besh;
}