<div>
    <div id="content">
        <form>
            <fieldset id="InputNotesPanel">
                <legend>
                    Enter the notes below
                </legend>
                <md-input-container>
                    <label for="vm.newPost.meta.title">
                        Summary
                    </label>
                    <input type="text" ng-model="vm.newPost.meta.title" />
                </md-input-container>
                <md-input-container>
                    <label for="vm.newPost.otherThoughts.publicNotes[0]">
                        Put your notes here
                    </label>
                    <textarea id="NoteBlock"></textarea>
                </md-input-container>
                <input type="submit" id="submit" class="md-button md-raised md-primary" />
            </fieldset>
        </form>
    </div>
</div>