<div>
    <div id="content">
        <form>
            <fieldset id="InputNotesPanel">
                <legend>
                    Enter the notes below
                </legend>
                Summary:
                <input type="text" id="summary" /><br />
                The following note will be saved at: <p id="time" onload="addTime();"></p><br />
                <textarea placeholder="Put your notes here" id="NoteBlock"></textarea>
                <input type="submit" id="submit" />
            </fieldset>
        </form>
    </div>
</div>